.table-row .my-loans-cell:nth-of-type(1) {
  color: #0f62fe;
  font-weight: bold;
}

.table-row .my-loans-cell:nth-of-type(5) {
  font-weight: bold;
}

a {
  text-decoration: none;
}

a:hover {
  color: rgb(14, 86, 226);
  text-decoration: underline;
}

.cds--data-table-container {
  padding: 0;
}
