.icon-check {
  fill: #0d6126;
  color: #0d6126;
  background-color: #bbf4cc;
  font-weight: bold;
}

.icon-fail {
  fill: #820007;
  color: #820007;
  background-color: #ffd5d7;
  font-weight: bold;
}

.icon-warning {
  fill: #984c00;
  color: #984c00;
  background-color: #fee7be;
  font-weight: bold;
}

.icon-invalid {
  fill: #666666;
  color: #666666;
  background-color: #d3d3d3;
  font-weight: bold;
}

.cellValue div {
  text-align: center;
}

.table-headerstatus, .table-headercurrentUser {
  text-align: center;
}

.table-row a {
  color: #0f62fe;
  font-weight: bold;
}

.table-row span {
  font-weight: bold;
}

a {
  text-decoration: none;
}

a:hover {
  color: rgb(14, 86, 226);
  text-decoration: underline;
}

.cds--data-table-container {
  padding: 0;
}

.error-notification {
  position: fixed;
  z-index: 9001;
  bottom: 0;
  right: 0;
  display: flex;
  padding: 20px;
}