.icon-check {
  fill: #0d6126;
  color: #0d6126;
  background-color: #bbf4cc;
  font-weight: bold;
}

.icon-fail {
  fill: #820007;
  color: #820007;
  background-color: #ffd5d7;
  font-weight: bold;
}

.icon-warning {
  fill: #984c00;
  color: #984c00;
  background-color: #fee7be;
  font-weight: bold;
}

.icon-invalid {
  fill: #666666;
  color: #666666;
  background-color: #d3d3d3;
  font-weight: bold;
}


.cell div {
  text-align: center;
}

.table-row .table-header:nth-of-type(6) {
  text-align: center;
}

.table-row .cell:nth-of-type(2){
  color: #0f62fe;
  font-weight: bold;
}

.table-row .cell:nth-of-type(6){
  font-weight: bold;
}

a {
  text-decoration: none;
}

a:hover {
  color: rgb(14,86,226);
  text-decoration: underline;
}