.icon-check {
  fill: #198038;
}

.icon-fail {
  fill: #da1e28;
}

.cell div {
  text-align: center;
}

.table-header {
  text-align: center;
}

.table-row .cell:nth-of-type(2){
  color: #0f62fe;
  font-weight: bold;
}