.icon-Admin {
  fill: #000000;
  color: #000000;
  background-color: #d6d6d6;
  font-weight: bold;
}

.icon-Focal {
  fill: #000000;
  color: #000000;
  background-color: #d6d6d6;
  font-weight: bold;
}

.icon-Security {
  fill: #000000;
  color: #ff0000;
  background-color: #d6d6d6;
  font-weight: bold;
}