.icon-user {
  background-color: rgba(244, 244, 244, 0);
}

.table-row .user-cell:nth-of-type(2) {
  color: #0f62fe;
  font-weight: bold;
}

.table-row .user-cell:nth-of-type(6) {
  font-weight: bold;
}