.user-details-data{
  padding-left: 0.75rem;
}

.combobox-popup{
  padding-bottom: 6%;
}

.center-icon-button-set{
  align-items: center;
  justify-content: center;
}
.invalid-usertype-popup-text{
  padding-left: 20px;
  color: #da1e28;
  font-size: 0.75rem;
}
