@use '@carbon/layout';

@import '@carbon/type/scss/scale';

.home-banner {
  padding: 0;
}

.page-title-block {
  padding-top: layout.$spacing-06;
  padding-bottom: layout.$spacing-13;

  h1 {
    @include carbon--type-scale(12);
  }
}

.action-block {
  padding-top: layout.$spacing-06;
}
