@use '@carbon/layout';
@use '@carbon/colors';

h1 {
  margin-bottom: layout.$spacing-04 * 2;
}

.page-content {
  padding-top: layout.$spacing-04 * 4;
  padding-bottom: layout.$spacing-04 * 6;
}

.actions-dropdown {
  margin: layout.$spacing-06 0;
}

.cds--list-box__wrapper {
  padding: 20px;
}

.qr-code-area {
  padding-bottom: layout.$spacing-06;
}

.qr-code-area p {
  margin-bottom: layout.$spacing-04;
}

.icon-padding {
  padding: 0;
  padding-left: 5px;
}

.icon-padding svg {
  position: relative;
  top: 8px;
}

svg.icon-check {
  fill: #198038;
}

svg.icon-fail {
  fill: #da1e28;
}

.edit-mode-button-set {
  justify-content: flex-end;
}

.cds--structured-list {
  margin-bottom: layout.$spacing-04 * 2;
}

.cds--btn-set--stacked {
  margin-top: 10px;
  margin-bottom: 15px;
}
