<div id="details-page">

    <div id="buttons-tittle">
        <h2 id="title-details"> Detalles del dispositivo</h2>
        <select>
            <option disabled selected>Seleccionar Acción</option>
        </select>
        <button id="play"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-player-play"
                width="16" height="16" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M7 4v16l13 -8z" />
            </svg></button>
        <button id="edit"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="16"
                height="16" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M9 7h-3a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-3" />
                <path d="M9 15h3l8.5 -8.5a1.5 1.5 0 0 0 -3 -3l-8.5 8.5v3" />
                <line x1="16" y1="5" x2="19" y2="8" />
            </svg></button>
    </div>
    <div id="details-container">
        <table id="table">
            <tr>
                <td id="device-type">Tipo de Dispositivo</td>
                <td id="device-name">Headset - Audifonos</td>
            </tr>
            <tr>
                <td>Marca</td>
                <td>JABRA</td>
            </tr>
            <tr>
                <td>Modelo</td>
                <td>EVOLVE 40 MS STEREO HD</td>
            </tr>
            <tr>
                <td>Serial</td>
                <td></td>
            </tr>
            <tr>
                <td>Condiciones Aceptadas</td>
                <td><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check" width="28"
                        height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#00b341" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <circle cx="12" cy="12" r="9" />
                        <path d="M9 12l2 2l4 -4" />
                    </svg></td>
            </tr>
            <tr>
                <td>¿Está Dentro?</td>
                <td><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check" width="28"
                        height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#00b341" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <circle cx="12" cy="12" r="9" />
                        <path d="M9 12l2 2l4 -4" />
                    </svg></td>
            </tr>
            <tr>
                <td>Autorización de Seguridad</td>
                <td><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-x" width="28"
                        height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ff2825" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <circle cx="12" cy="12" r="9" />
                        <path d="M10 10l4 4m0 -4l-4 4" />
                    </svg></td>
            </tr>
            <tr>
                <td>QR</td>
                <td><img src="https://upload.wikimedia.org/wikipedia/commons/d/d7/Commons_QR_code.png" alt="qrcode">
                </td>
            </tr>
        </table>
    </div>

</div>